* {
    box-sizing: border-box;
    background-color: #121212;
}

.logo {
    display: flex;
    align-items: center;
  }
.navbarauth{
   padding: 1%;
}
  .logo img {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px; 
    max-width: 100%;
    height: auto;
  }
  
  .logo label {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    font-family: var(--font-family, CircularSpTitle, CircularSpTitle-Tall, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif));
  }
.Heading {
    margin: 20px;
    width: 23%;
    text-align: left;
     /* border: 1px solid #ffffff; */
}

.container {
    /* border: 1px solid #ffffff; */
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.Heading h1 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: var(--font-family, CircularSpTitle, CircularSpTitle-Tall, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif));
    color: white;
    margin-top: -9%;
}

.Heading p {
    font-size: 0.875rem;
    font-weight: 700;
    font-family: var(--font-family, CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif));
    color: white;
}

.input input {
    appearance: none;
    background-image: none;
    color: white !important;
    margin-top: 5px;
    border: 0px;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-family, CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif));
    transition: box-shadow 0.1s ease-in-out 0s, color 0.1s ease-in-out 0s;
    inline-size: 90%;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    border-radius: var(--encore-border-radius-medium, 4px);
    padding-inline: 14px;
    padding-block-start: var(--encore-spacing-minus-2, 8px);
    padding-block-end: var(--encore-spacing-minus-2, 8px);
    min-block-size: var(--encore-control-size-medium, 48px);
    background-color: #121212 !important;
    box-shadow: inset 0 0 0 1px var(--essential-subdued, #878787);
    color: var(--text-base, #000000);
}

.input input:hover {
    border-color: rgb(26, 173, 26);
}
#phonee{
    margin-top: 15px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    color: var(--text-bright-accent,#11e35e);
    -webkit-box-align: center;
    font-size: small;
    font-weight: bold;
}

.Heading button{
    margin-top: 20px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 1rem;
    font-weight: 700;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    background-color: #11e35e;
    border: 0px;
    border-radius: 500px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    min-inline-size: 0px;
    align-self: center;
    inline-size: 90%;
    padding-inline: 14px;
    padding-block-start: var(--encore-spacing-minus-2, 8px);
    padding-block-end: var(--encore-spacing-minus-2, 8px);
    min-block-size: var(--encore-control-size-medium, 48px);
}
.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.line-segment {
    flex: 1;
    height: 0.5px;
    background-color: white;
}

.or-text {
    margin: 0 10px; /* Adjust the spacing between the line and the "or" text */
    color: white;
}

.ButtonGoogle{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 0.9rem!important;
    font-weight: 700;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    background-color: #121212;
    border-radius: 500px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    position: relative;
    border: 1px solid var(--essential-subdued,rgb(255, 255, 255));
    color: white!important;
    min-block-size: 48px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: space-around;
    inline-size: 90%!important;
    padding-inline: 14px;
    padding-block-start: var(--encore-spacing-minus-2, 8px);
    padding-block-end: var(--encore-spacing-minus-2, 8px);
    min-block-size: var(--encore-control-size-medium, 48px);
    margin-top: 7%;
}

#logog{
   margin-left: -7%;
}
#parag{
    margin-top: 6%;
}
.para{
    margin-left: 11%;
    color: #6a6a6a;
    font-size: 15px;
}
#footer{
    margin-top: 7%;
    color: #6a6a6a;
    size: 1px !important;
    font-size:11px !important;
}
.foot{
    text-align: center;
}
.Heading a{
    
    color: white;
}


